</head>
<body>
<header>
<centre><h2>We are pleased that we are there for you</h2>
<h2>When you need Us</h2></centre></header>


  <article margin="5px">
    <select  style='margin:16px'>
    <option value="">Select required Blood Group</option>
    <option value="A+">A+</option>
    <option value="A-">A-</option>
    <option value="B+">B+</option>
    <option value="B-">B-</option>
    <option value="AB-">AB+</option>
    <option value="AB+">AB-</option>
    <option value="O+">O+</option>
    <option value="O-">O-</option>
</select> 
 

   <select style='margin:5px'>
    <option value="">Select Locality</option>
    <option value="LB Nagar">LB Nagar</option>
    <option value="Dilshuknagar">Dilshuknagar</option>
    <option value="Secundrabad">Secundrabad</option>
    <option value="Hitex city">Hitex city</option>
    <option value="Miyapur">Miyapur</option>
    <option value="Ghatkesar">Ghatkesar</option>
    <option value="Uppal"> Uppal</option>
    <option value="Falauknama">Falauknama</option>
    <option value="Gachibowli">Gachibowli</option>
    <option value="Ibrahimpatnam">Ibrahimpatnam</option>
    <option value="Malakpet">Malakpet</option>
    <option value="Jeedimetla">Jeedimetla</option>
    <option value="Medchal">Medchal</option>
</select>
 <form action="/action_page.php" method="get">
  <a href="dd.ejs" type="search" value="search" class="w3-btn w3-black">SEARCH</a></form>
 
  </article>
<centre>
<article >
  <button name="text" type="text" value="text">Request Call</button>

  <button name="subject" type="search" value="search">Report call</button>
 
</form>
</article></centre>


</body>
</html>
